* {
  padding: 0;
  margin: 0;
}

.start-building-button {
  background-color: white;
  font-weight: bold;
  color: #ff784b;
  padding: 10px 20px;
  margin-top: 1.2em;
  border-radius: 20px;
  text-decoration: none;
  font-size: 13.5px;
}

.main_part {
  background-color: #ff784b;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_main_part {
  color: white;
  font-family: Palanquin;
}

.description_main_part {
  color: white;
  font-size: 0.8em;
}

.features_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2.5em;
  gap: 2em;
}

.title_features_part {
  font-weight: 600;
  font-family: Roboto;
  font-family: Palanquin;
}

.features {
  display: flex;
  gap: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.title_feature_section {
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  font-family: Roboto;
}

.description_feature_section {
  font-weight: 200;
  font-family: Roboto;
}
