<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div th:replace="~{navbar :: navbar}"></div>

    <div class="main_part">
      <h1 class="title_main_part">Create Your Perfect Resume</h1>
      <p class="description_main_part">
        Automatically generate resumes using LaTeX templates based on your
        information.
      </p>
      <a href="#" class="start-building-button">Start Building</a>
    </div>

    <div class="features_part">
      <h2 class="title_features_part">Features</h2>

      <div class="features">
        <div class="feature_section">
          <i class="fa-solid fa-wand-magic-sparkles" style="color: #32bc9b"></i>
          <p class="title_feature_section">Easy to Use</p>
          <p class="description_feature_section">
            Our tool is user-friendly, enabling anyone to create a professional
            resume effortlessly.
          </p>
        </div>

        <div class="feature_section">
          <i class="fa-solid fa-file-code" style="color: #32bc9b"></i>
          <p class="title_feature_section">LaTeX Templates</p>
          <p class="description_feature_section">
            Choose from a variety of LaTeX templates to make your resume stand
            out
          </p>
        </div>

        <div class="feature_section">
          <i class="fa-solid fa-cloud-arrow-up" style="color: #32bc9b"></i>
          <p class="title_feature_section">Cloud Storage</p>
          <p class="description_feature_section">
            Save your resumes in the cloud and access them any time, anywhere
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
