<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
  </head>
  <body>
    <div th:fragment="navbar">
      <nav class="navbar">
        <div class="logo">
          <svg></svg>
          <p>Resume</p>
        </div>

        <ul class="menu__list">
          <li>Home</li>
          <li>Features</li>
          <li>Pricing</li>
          <li>Contact</li>
        </ul>

        <button class="call_to_act">Get started</button>
      </nav>
    </div>
  </body>
</html>
