<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
  </head>
  <body>
    <nav th:fragment="navbar" class="navbar">
      <div class="navbar-brand">
        <span class="navbar-logo"></span>
        <span class="navbar-title">Resume</span>
      </div>

      <ul class="navbar-menu">
        <li><a href="#">Home</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Contact</a></li>
      </ul>

      <a href="#" class="get-started-button">Get started</a>
    </nav>
  </body>
</html>
