<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    />
  </head>
  <body>
    <nav th:fragment="navbar" class="navbar">
      <link th:href="@{/css/navbar.css}" rel="stylesheet" />

      <div class="navbar-brand">
        <i class="fa-solid fa-file" style="color: #ff784b"></i>
        <span class="navbar-title">Resume</span>
      </div>

      <ul class="navbar-menu">
        <li><a href="#">Home</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Contact</a></li>
      </ul>

      <a href="#" class="get-started-button">Get started</a>
    </nav>
  </body>
</html>
